{% extends "_base.html" %}

		{% block banner_class %} class="alt"{% endblock %}

		{% block content %}
		<!-- Banner -->
			<section id="banner">
				<h2>I'm Baseline</h2>
				<p>A simple starting point for projects based on Skel.</p>
				<ul class="actions">
					<li><a href="#" class="button special">Content</a></li>
					<li><a href="elements.html" class="button">Elements</a></li>
					<li><a href="generic.html" class="button alt">Generic</a></li>
				</ul>
			</section>

		<!-- Main -->
			<section class="container wrapper">
				<div class="inner">
					<h2>Baseline</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas minus ex, sunt tempore optio ab, fuga, error impedit esse, est repudiandae voluptatibus facilis. Recusandae repellendus repellat quas facilis, nemo quos.</p>
				</div>
			</section>
		{% endblock content %}
